<stk-loading *ngIf="!loading"></stk-loading>
<div class="stk-devotionals">
    <div class="container">
        <div class="row stk-devotionals-list">
            <div class="col-12 back">
                <a (click)="backToSections()">
                    <svg height="50">
                        <g>
                            <line y1="50%" x2="98%" y2="50%"></line>
                            <circle cx="98%" cy="50%"></circle>
                        </g>
                    </svg>
                    <p>
                        Voltar | Seções
                    </p>
                </a>
            </div>
            <div class="card col-md-4 col-12 mt-3 mb-3 max-card-width" *ngFor="let devotional of devotionalList"
                (click)="onDevotionalClick(devotional.id)">
                <div class="card-img" [defaultImage]="defaultImage" [lazyLoad]="devotional?.imageKey" [offset]="offset">
                </div>
                <div class="card-info">
                    <span class="card-category"> {{devotional?.title}}</span>
                    <h3 class="card-title">{{devotional?.description}}</h3>
                </div>
                <div class="new-badge">NOVO!</div>
            </div>
        </div>
        <pedro-maglio-mendes [needsContrast]="true"></pedro-maglio-mendes>
    </div>
</div>