@font-face {
    font-family: Montserrat;
    src: url(/assets/fonts/Montserrat-Regular.ttf);
    src: url(/assets/fonts/Montserrat-Regular.ttf) format('truetype');
    font-style: normal;
  }
  
  @font-face {
    font-family: Montserrat-SemiBold;
    src: url(/assets/fonts/Montserrat-SemiBold.ttf);
    src: url(/assets/fonts/Montserrat-SemiBold.ttf) format('truetype');
    font-style: normal;
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url(/assets/fonts/Montserrat-Bold.ttf);
    src: url(/assets/fonts/Montserrat-Bold.ttf) format('truetype');
    font-style: normal;
  }
  
  @font-face {
    font-family: Montserrat-Medium;
    src: url(/assets/fonts/Montserrat-Medium.ttf);
    src: url(/assets/fonts/Montserrat-Medium.ttf) format('truetype');
    font-style: normal;
  }
  
  @font-face {
    font-family: Montserrat-Light;
    src: url(/assets/fonts/Montserrat-Light.ttf);
    src: url(/assets/fonts/Montserrat-Light.ttf) format('truetype');
    font-style: normal;
  }
  
  @font-face {
    font-family: Montserrat-Thin;
    src: url(/assets/fonts/Montserrat-Thin.ttf);
    src: url(/assets/fonts/Montserrat-Thin.ttf) format('truetype');
    font-style: normal;
  }
  
  @font-face {
    font-family: Montserrat-Black;
    src: url(/assets/fonts/Montserrat-Black.ttf);
    src: url(/assets/fonts/Montserrat-Black.ttf) format('truetype');
    font-style: normal;
  }