

@media (max-width: 576px) {
    .dy-sm-none {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .dy-md-none {
        display: none !important;
    }
}

@media (max-width: 992px) {
    .dy-lg-none {
        display: none !important;
    }
}