//Colors
$color-black: #1d1d1b;
$color-black-light: rgba(29, 29, 27, 0.4);
$color-white: #e8e8e8;
$color-opaco-black: rgba(29, 29, 27, .9);
$color-opaco-gray: #7F7E79;
$color-pholder-black: rgba(29, 29, 27, .7);
$color-red: #EF5350;
$color-red-hover: #Dd4745;
$color-yellow: #FFE082;
$color-yellow-stronger: #ffd75f;
$color-blue: #2C6BAB;
$color-green: #227F2F;

//Fonts
$primary-font: 'Montserrat',
sans-serif;
$bold-font: 'Montserrat-Bold',
sans-serif;
$semibold-font: 'Montserrat-SemiBold',
sans-serif;
$medium-font: 'Montserrat-Medium',
sans-serif;
$light-font: 'Montserrat-Light',
sans-serif;
$thin-font: 'Montserrat-Thin',
sans-serif;
$black-font: 'Montserrat-Black',
sans-serif;