@import '~assets/scss/styles.scss';
.row {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.square-resolution {
    height: 1080px;
    width: 1080px;
    border: .1rem solid $color-opaco-gray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;

    background-image: linear-gradient(100deg, #4286f4, #3a1c71, #4B1248);
    background-size: 400%;

    animation-name: gradient-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;

    img,
    svg {
        width: 8.5rem;
        position: absolute;
        top: 2rem;
        left: 0;
        right: 0;
        margin: auto;
    }

    svg {
        path {
            &.coroa {
                animation: swing-top-fwd .5s reverse backwards;
                animation-delay: 1.8s;
            }

            &.risco {
                animation: swing-top-fwd .5s reverse backwards;
                animation-delay: 2s;
            }

            &.k {
                animation: swing-top-fwd .5s reverse backwards;
                animation-delay: 1.5s;
            }

            &.s {
                animation: swing-top-fwd .5s reverse backwards;
                animation-delay: 1.1s;
            }
        }

        polygon {
            animation: swing-top-fwd .5s reverse backwards;
            animation-delay: 1.3s;
        }
    }

    p {
        color: $color-white;
        margin-bottom: 0;
        line-height: 1;
        text-align: right;
        letter-spacing: .1rem;
        text-transform: uppercase;
        opacity: 1;

        &:nth-child(2) {
            font-family: $semibold-font;
            font-size: 8.42rem;
            animation: swing-top-fwd .5s reverse backwards;
            animation-delay: .5s;
        }

        &:nth-child(3) {
            font-family: $semibold-font;
            font-size: 8rem;
            animation: swing-top-fwd .5s reverse backwards;
            animation-delay: .8s;
        }

        &:nth-child(4) {
            font-family: $semibold-font;
            font-size: 8rem;
            animation: swing-top-fwd .5s reverse backwards;
            animation-delay: 1.1s;
        }

        &:nth-child(5) {
            position: absolute;
            bottom: 2rem;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
            font-family: $semibold-font;
            font-size: 4rem;
            animation: opacity .5s ease-in both;
            animation-delay: 2.3s;
        }
    }

}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes swing-top-fwd {
    0% {
        opacity: 1;
        transform: rotateX(0);
        transform-origin: top;
    }

    100% {
        opacity: 0;
        transform: rotateX(180deg);
        transform-origin: top;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}