<div class="home-calendar-stk">
    <div class="container">
        <div class="calendar-stk">
            <div class="stk-calendar row">
                <p class="col">13</p>
                <p class="col">ABRIL 2019</p>
            </div>
            <div class="stk-information row">
                <div class="col-12 text-center information-content p-0">
                    <p class="text-center">
                        IGREJA DO NAZARENO MONTE MORIÁ
                    </p>
                    <p>
                        RUA DR. HENRIQUE AUGUSTO VOGEL - 449
                    </p>
                    <p>
                        JARDIM SÃO PEDRO - CAMPINAS/SP
                    </p>
                </div>
                <div class="col-12 stk-map" [defaultImage]="defaultImage" [lazyLoad]="stkMap" [offset]="offset"
                    (click)="googleMapsLocale()"> </div>
            </div>

            <div class="stk-schedule row">
                <div class="col-12 text-center d-flex justify-content-center align-content-center flex-column">
                    <p class="time">
                        13h30
                    </p>
                    <p>
                        Estaremos no local
                    </p>
                    <br>
                    <p class="time">
                        14h00
                    </p>
                    <p>
                        Nos encontraremos em uma praça próximo ao local do evento
                    </p>
                    <br>
                    <p class="time">
                        14h10
                    </p>
                    <p>
                        Começaremos nosso STK e as atividades para compartilhar o reino!
                    </p>
                </div>
            </div>

            <div class="stk-description row">
                <div class="col-12">
                    <div class="stk-logo"></div>
                </div>
            </div>
        </div>
        <pedro-maglio-mendes></pedro-maglio-mendes>
    </div>
</div>