<div class="stk-sections">
    <div class="container h-100">
        <div class="row sections-op h-100">
            <div class="col-10 stk-section" [routerLink]="['/galeries']">
                <img src="/assets/images/sections-1.jpg" class="image-fotos">
                <div class="color-gradient-1"></div>
                <div class="actions-content">
                    <p>fotos</p>
                    <button class="btn btn-primary">Ver mais</button>
                </div>
            </div>
            <div class="col-10 stk-section" [routerLink]="['/devotionals']">
                <img src="/assets/images/sections-2.jpg" class="image-fotos">
                <div class="color-gradient-2"></div>
                <div class="actions-content">
                    <p>devocionais</p>
                    <button class="btn btn-primary">Ver mais</button>
                </div>
            </div>
        </div>
    </div>
</div>