<div class="bg-color">
    <div class="home-stk">
        <div class="container">
            <div class="row col-12 home-state-stk">
                <div class="svg-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect class="shape1" />
                    </svg>
                </div>

                <div class="stk-calendar row">
                    <p class="col">13</p>
                    <p class="col">ABRIL<br>2019</p>
                    <div class="more-about">
                        <p (click)="toCalendar()">
                            SAIBA MAIS
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <pedro-maglio-mendes></pedro-maglio-mendes>
    </div>
</div>