<div class="stk-about-initial" #cityBlur [defaultImage]="defaultImage" [lazyLoad]="'/assets/images/stk-blur-scity.jpg'"
    [offset]="offset">
    <div class="stk-color-layer"></div>
    <div class="container stk-limit">
        <div class="stk-description">
            <p>
                Temos visto no mundo, pessoas com fome e sede de algo que não é terreno!
                Deus despertou um sonho em nossos corações, compartilhar o Reino; uma ideia da igreja nas ruas,
                alcançando e transformando vidas através do amor de Jesus.
            </p>
            <br>
            <p>
                Assim Nasceu o STK (Sharing The Kingdom).
            </p>
            <br>
            <p>
                Nós cremos que Jesus está tocando a nossa geração e trazendo cada vez mais o Seu Reino na terra. E
                nós
                queremos fazer parte disso!
                Jesus quer te usar de uma forma que você jamais imagino. Não se limite e permita-se ser usado para
                transformar o mundo!
            </p>
        </div>

        <div class="stk-social">
            <a class="fa fa-facebook-square" (click)="toFacebook()" data-tip="Conheça, leia e nos siga"></a>
            <a class="fa fa-instagram" (click)="toInstagram()" data-tip="Veja, se interesse, faça parte"></a>
            <a class="fa fa-twitter" (click)="toTwitter()" data-tip="Esteja ligado nas novidades"></a>
            <a class="fa fa-youtube-play" (click)="toYoutube()" data-tip="Seja um inscrito"></a>
        </div>

        <div class="stk-logo position-relative"></div>

        <pedro-maglio-mendes></pedro-maglio-mendes>
    </div>
</div>